body{
	
}
.right,.left{
	font-size:2em;
	margin-top:5%;
}
.right{
	float: right;
}
.left{
	float: left;
}
.person{
	color:blue;
}
.emotion{
	color:#f6660b;
}
.center{
	margin-left:40%;
	margin-top:5%;
}
.title{
	font-size: 3em;
}
.word{
    margin-top: 200px;
    font-size: 36px;
    font-weight: 700;
}
.status{
    margin-left: 50px;
}